# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dtt
import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime

df.date=df.date.astype('datetime64[ns]')

#confirm conversion
df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [4]:
# Set the date column as the DataFrame index
df.set_index('date',inplace=True)

In [5]:
# Drop the date column
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [6]:
from scipy import stats

In [7]:
# Filter data for desired months

#june
june_df=df.loc[df.index.strftime('%m')=='06']
june_df

#december
dec_df=df.loc[df.index.strftime('%m')=='12']

print(june_df.head())
print()
print (dec_df.head())

                station  prcp  tobs
date
2010-06-01  USC00519397  0.00    78
2010-06-02  USC00519397  0.01    76
2010-06-03  USC00519397  0.00    78
2010-06-04  USC00519397  0.00    76
2010-06-05  USC00519397  0.00    77

                station  prcp  tobs
date
2010-12-01  USC00519397  0.04    76
2010-12-03  USC00519397  0.00    74
2010-12-04  USC00519397  0.00    74
2010-12-06  USC00519397  0.00    64
2010-12-07  USC00519397  0.00    64

In [8]:
# Identify the average temperature for June
june_average_temp=june_df.tobs.mean()
print()
print(f"from {df.index.min()} to {df.index.max()}")
print('-----------------------------------------')
print(f"Average Temp in June: {round(june_average_temp,2)}")
print()

from 2010-01-01 00:00:00 to 2017-08-23 00:00:00
-----------------------------------------
Average Temp in June: 74.94

In [9]:
# Identify the average temperature for December
dec_average_temp=dec_df.tobs.mean()
print()
print(f"from {df.index.min()} to {df.index.max()}")
print('-----------------------------------------')
print(f"Average Temp in December: {round(dec_average_temp,2)}")
print()

from 2010-01-01 00:00:00 to 2017-08-23 00:00:00
-----------------------------------------
Average Temp in December: 71.04

In [10]:
# Create collections of temperature data

#possibly doing this wrong, but since I want to do a paired t-test, I manually set columns to be of equal length
print(f'Length of June: {len(june_df)}')
print(f'Length of December: {len(dec_df)}')


june_truncated_df=june_df.head(1517).tobs
print()
print(f'New Length of June: {len(june_truncated_df)}')

Length of June: 1700
Length of December: 1517

New Length of June: 1517

In [11]:
# Run paired t-test

stats.ttest_rel(dec_df.tobs,june_truncated_df)

Ttest_relResult(statistic=-34.804545051754815, pvalue=1.4623155269997529e-195)

### Analysis

I used a paired t-test since I was comparing the temperature for the same location, just at a different time of year.

From the paired t-test, the difference in means for June and December is statistically significant.