In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine,inspect, func, Column,Integer,String

In [2]:
Base=declarative_base()

In [9]:
class Tuna(Base):
    __tablename__="tuna"
    id = Column(Integer,primary_key=True)
    name = Column(String)
    weight = Column(Integer)

In [27]:
class Candy(Base):
    __tablename__="candy"
    id = Column(Integer,primary_key=True)
    flavor = Column(String)
    weight = Column(Integer)

In [3]:
engine = create_engine('sqlite:///fishy.sqlite')

In [23]:
session = Session(bind=engine)

In [47]:
session.add(Tuna(name='Todd',weight=143))
session.add(Tuna(name='Lynn',weight=133))
session.add(Tuna(name='Mike',weight=43))

In [28]:
session.add(Candy(flavor='Vanilla',weight=10))

In [24]:
Tuna.keys()

AttributeError: type object 'Tuna' has no attribute 'keys'

In [61]:
session.new

IdentitySet([])

In [31]:
Base.metadata.create_all(engine)

In [35]:
session.commit()

In [37]:
engine.execute("Select * From Tuna").first()

(1, 'Todd', 1144)

In [34]:
a=session.query(Candy).first()
a.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fa9ee1bb6a0>,
 'flavor': 'Vanilla',
 'id': 1,
 'weight': 10}

In [12]:
a.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fa9ee103eb8>,
 'weight': 1144,
 'name': 'Todd',
 'id': 1}